@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
    letter-spacing: .1rem;
}

* {
    margin: 0;
}

:root,
#__next {
    isolation: isolate;
    --primary-color: #0f0f0f;
    --secondary-color: #222;
    --accent-color: #eb4a4c;
    --font-primary: #ffffff;
    --font-secondary: #737373;
    --font-family: "Poppins", sans-serif
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    font-family: var(--font-family);
    background-image: url(./layered-waves-haikei.svg);
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

li,
a,
ul {
    list-style: none;
    text-decoration: none;
    padding: 0;
}



.container {
    max-width: 60em;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.logo {
    color: white;
}

.primary-header {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
}

.navbar ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 0;
}

.navbar ul li a {
    color: white;
    letter-spacing: 0;
}

.navbar ul li a:hover {
    color: var(--accent-color);
}

.navbar ul li a.active {
    color: var(--accent-color);
}

.button {
    display: inline-block;
    text-align: center;
    border-radius: 2rem;
    background-color: var(--accent-color);
    color: white;
    padding: .75rem 2rem;
    border: 0;
    font-size: 1rem;
    transition: background-color 0.3s ease;

}

.button:hover {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.title h3 {
    color: var(--font-primary);
    border-bottom: 2px dotted var(--font-secondary);
    font-size: 1.75rem;
    padding-block: 1rem;
}

.title span {
    color: var(--accent-color);
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.contact-info {
    color: var(--font-secondary);
    display: grid;
    gap: 1rem;
    flex-grow: 1;
}

.contact-info>* {
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    height: 50px;
    justify-content: left;
    padding-inline: 1rem 9rem;
    color: var(--font-primary);
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 100%;
    flex-grow: 1;
}

.links {}

.links img {
    width: 80px;
    height: 50px;
}

.inputs {
    display: flex;
    gap: 1rem;
}

.inputs>* {
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
    padding: .7rem 1rem;
    width: 50%;
}

textarea {
    background-color: var(--secondary-color);
    border: none;
    padding: 1rem;
    border-radius: 10px;
    width: 100%;
    resize: vertical;
}

.contact-form button {
    width: 45%;
}

.btn {
    font-size: 1rem;
    padding: .75rem 2rem;
    border: none;
    outline: none;
    border-radius: 2rem;
    cursor: pointer;
    text-transform: uppercase;
    background-color: var(--accent-color);
    color: rgb(234, 234, 234);
    font-weight: 500;
    transition: 0.6s;
    box-shadow: 0px 0px 0px var(--accent-color);
    -webkit-box-reflect: below 10px linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, .1));
}

.btn:active {
    scale: 0.92;
}

.btn:hover {
    background: white;
    font-weight: 500;
    color: black;
}

.inactive {
    visibility: hidden;
    display: none;
    pointer-events: none;
}

.star {
    display: none;
}

.social-link1,
.social-link2 {
    width: 35px;
    aspect-ratio: 1;
    color: whitesmoke;
    font-size: 10px;
    text-decoration: none;
    transition: 0.25s;
    /* border-radius: 50px; */
}

.social-link2:hover {
    color: #1a1e22;
    animation: bounce_613 0.4s linear;
}

.social-link1:hover {
    color: #0a66c2;
    animation: bounce_613 0.4s linear;
}

@keyframes bounce_613 {
    40% {
        transform: scale(1.4);
    }

    60% {
        transform: scale(0.8);
    }

    80% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }

}

@media (max-width: 900px) {

    .contact-info {
        gap: 0;
        margin-bottom: -1.2rem;
    }

    .contact-info>* {
        padding-inline: .5rem .5rem;
        gap: 1;
    }

    .inputs>* {
        padding: .75rem .5rem;
    }

    .btn {
        font-size: 1rem;
        margin: auto;
    }
}

@media (max-width: 715px) {

    .contact {
        display: flex;
        gap: 2rem;
    }

    .contact-info {
        gap: 1rem;
        margin-inline-start: 1rem;
    }

    .contact-info>* {
        width: 70%;
    }

    .inputs {
        gap: 1rem;
    }

    .inputs>* {
        width: 45%;
        margin-inline-start: 1rem;
    }

    textarea {
        width: 95%;
        margin-inline-start: 1rem;
    }

}

@media (max-width: 450px) {
    .inputs {
        flex-direction: column;
    }

    .inputs>* {
        width: 86%;
        margin-inline: 1rem;
    }

    .contact-info>* {
        width: 90%;
    }

    textarea {
        width: 100%;
        margin: 0;
    }

    .btn {
        padding: .7rem 2rem;
        border: 1px solid blue;
        font-size: .9rem;
    }
}

@media (max-width: 550px) {

    .container {
        display: flex;
        gap: 5rem;
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .navbar {
        position: fixed;
        inset: 0 0 0 20%;
        z-index: 1000;
        background: hsla(234, 78%, 16%, 0.95);
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        font-size: 2rem;
        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }

    .navbar ul {
        display: flex;
        flex-direction: column;
        align-items: start;
    }

    .navbar ul li a {
        display: flex;
        gap: 1rem;
        align-items: center;
    }

    img {
        height: 28px;
        width: 28px;
    }

    .star {
        display: block;
    }

    .inactive {
        visibility: visible;
        display: block;
        pointer-events: all;
    }

    .visible {
        transform: translateX(0%);
    }

    .mobile__nav__toggle {
        position: fixed;
        top: .5rem;
        right: 1rem;
        z-index: 9999;
        visibility: visible;
        pointer-events: all;
    }


}