@media (max-width: 48em) {

    #container {
        display: flex;
        gap: .5rem;
        flex-direction: column;
    }

    .primary__navigation {
        --gap: 2em;
        position: fixed;
        inset: 0 0 0 20%;
        z-index: 1000;
        background: hsla(234, 78%, 16%, 0.95);
        flex-direction: column;
        padding: min(30vh, 10rem) 2rem;
        font-size: 2rem;
        transform: translateX(100%);
        transition: transform 350ms ease-in;
    }

    .primary__navigation li a {
        color: var(--font-primary);
    }

    .visible {
        transform: translateX(0%);
    }

    .mobile__nav__toggle {
        position: fixed;
        top: .5rem;
        right: 1rem;
        z-index: 9999;
        visibility: visible;
        pointer-events: all;
    }









}