@import url('https://fonts.googleapis.com/css2?family=Caladea&family=Exo+2:wght@300;400&family=Lilita+One&family=Playfair+Display:wght@400;500&family=Roboto+Slab:wght@300&family=Roboto:wght@300;400&family=Source+Code+Pro:wght@300;400;500&display=swap');


*,
*::before,
*::after {
    box-sizing: border-box;
    letter-spacing: .1rem;
}

* {
    margin: 0;
}

:root,
#__next {
    isolation: isolate;
    --primary-color: #0f0f0f;
    --secondary-color: #181818;
    --font-primary: #ffffff;
    --font-secondary: #868686;
    --font-family: "Roboto slab", serif
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    overflow-x: hidden;
    background-color: var(--primary-color);
    font-family: var(--font-family);
}


img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}



#container {
    max-width: 1100px;
    display: grid;
    gap: .5rem;
    place-items: center;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.grid__item {
    /* padding: .5rem; */
    border-radius: 1.25rem;
    background-color: var(--secondary-color);
}

.br {
    border-radius: 1.25rem;
}

.one {
    grid-column: 1 / 3;
    grid-row: 2 / 7;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1rem;
}

.two {
    grid-column: 3 / 7;
    grid-row: 2 / 3;
    padding: .5rem;
    flex-wrap: wrap;
}

.three {
    grid-column: 3 / 7;
    grid-row: 3/ 7;
    height: 100%;
    width: 100%;
}

.splide__slide img {
    height: 450px;
    width: 740px;
    border-radius: 1.25rem;
    object-fit: fill;
    padding: .5rem;
}

.picture img {
    padding: .5rem;
}

.description {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.description h3 {
    color: var(--font-primary);
    font-size: 2.5rem;
}

.description h6 {
    color: var(--font-secondary);
    font-size: 1.5rem;
    padding-inline: .5rem;
}

.four {
    grid-column: 1 / 3;
    grid-row: 7 /8;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.four img {
    height: 90px;
    width: 90px;
    padding: 0;
}

.five {
    grid-column: 3 / 7;
    grid-row: 7/ 8;
    height: 100%;
    width: 100%;
    font-size: 3rem;
    text-align: center;
    padding: 1rem 0;
}

.five a {
    text-decoration: none;
}

.six {
    grid-column: 1 / 8;
    font-size: 1.5rem;
    padding: .5rem 0;
}

.primary__header {
    align-items: center;
    justify-content: center;
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 1.25rem;
}

.mobile__nav__toggle {
    visibility: hidden;
    pointer-events: none;
}

.primary__navigation {
    list-style: none;
    padding: 0;
}


.primary__navigation li a {
    text-decoration: none;
    color: var(--font-primary);
    font-size: 1.5rem;
}

.flex {
    display: flex;
    gap: var(--gap, 2rem);
}

.two img {
    height: 100px;
    width: 90px;
}


.five a {
    color: var(--font-primary);
}